# Dépendances
node_modules/

# Variables d'environnement — NE JAMAIS COMMITER
.env

# Build Vite
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache Vite
.vite/

.vercel
